@model HazmatTracking.Models.Hazmats.HazmatViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Add</h2>


@using (Html.BeginForm())
{
    var hazmat = Model.Hazmat;
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-2">
                @Html.LabelFor(model => hazmat.TransactionNum, new { @class = "label-colon" })
            </div>
            <div class="col-md-10">
                @Html.TextBoxFor(model => hazmat.TransactionNum, new { @class = "extraShortInput" })
                @Html.ValidationMessageFor(model => hazmat.TransactionNum, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />

        @*<div class="row">
                @Html.LabelFor(model => hazmat.Void, new { @class = "label-colon" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => hazmat.Void)
                        @Html.ValidationMessageFor(model => hazmat.Void, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>*@

        <div class="row">
            <div class="col-md-2">
                @Html.LabelFor(model => hazmat.Date, new { @class = "label-colon" })
            </div>
            <div class="col-md-10">
                @Html.TextBoxFor(model => hazmat.Date, new { style = "width:100px", @class = "dateCreate" })
                @Html.ValidationMessageFor(model => hazmat.Date, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-2">
                @Html.LabelFor(model => hazmat.Initials, new { @class = "label-colon" })
            </div>
            <div class="col-md-10">
                @Html.TextBoxFor(model => hazmat.Initials, new { @class = "twoCharInput" })
                @Html.ValidationMessageFor(model => hazmat.Initials, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-2">
                @Html.LabelFor(model => hazmat.Material, new { @class = "label-colon" })
            </div>

            <div class="col-md-10">
                @Html.DropDownListFor(model => hazmat.Material, Model.Materials, "--Select a Material--", new { @class = "dropdown" })
                @Html.ValidationMessageFor(model => hazmat.Material, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-2">
                @Html.LabelFor(model => hazmat.New_Distilled, new { @class = "label-colon" })
            </div>
            <div class="col-md-10">
                @Html.DropDownListFor(model => hazmat.New_Distilled, Model.New_Distilled, new { @class = "dropdown" })
                @Html.ValidationMessageFor(model => hazmat.New_Distilled, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-2">
                @Html.LabelFor(model => hazmat.Quantity, new { @class = "label-colon" })
            </div>
            <div class="col-md-10">
                @Html.TextBoxFor(model => hazmat.Quantity, new { @class = "extraShortInput" })
                @Html.DropDownListFor(model => hazmat.Gallon_Pound, Model.Gallon_Pound, new { @class = "dropdown" })
                @Html.ValidationMessageFor(model => hazmat.Quantity, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-2">
                @Html.LabelFor(model => hazmat.Destination, new { @class = "label-colon" })
            </div>
            <div class="col-md-10">
                @Html.DropDownListFor(model => hazmat.Destination, Model.Destinations, "--Select a Destination--", new { @class = "dropdown" })
                @Html.ValidationMessageFor(model => hazmat.Destination, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />

        @*<div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(model => hazmat.RequestedBy, new { @class = "label-colon" })
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => hazmat.RequestedBy, new { @class = "extraShortInput" })
                        @Html.ValidationMessageFor(model => hazmat.RequestedBy, "", new { @class = "text-danger" })
                    </div>
                </div>
            <br />*@

        @*<div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(model => hazmat.Shift, new { @class = "label-colon" })
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => hazmat.Shift, new { @class = "extraShortInput" })
                        @Html.ValidationMessageFor(model => hazmat.Shift, "", new { @class = "text-danger" })
                    </div>
                </div>
            <br />*@

        <div class="row">
            <div class="col-md-2">
                @Html.LabelFor(model => hazmat.RequiredFor, new { @class = "label-colon" })
            </div>
            <div class="col-md-10">
                @Html.DropDownListFor(model => hazmat.RequiredFor, Model.RequiredFor, new { @class = "extraShortInput" })
                @Html.ValidationMessageFor(model => hazmat.RequiredFor, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-2">
                @Html.LabelFor(model => hazmat.Notes, new { @class = "label-colon" })
            </div>
            <div class="col-md-10">
                @Html.TextAreaFor(model => hazmat.Notes, new { @class = "text-area-small" })
                @Html.ValidationMessageFor(model => hazmat.Notes, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />

        <div class="row">
            <input type="submit" value="Create" class="btn btn-success" />
           &nbsp;
            @Html.ActionLink("Back To List", "Index", null, new { @class = "btn btn-primary" })
        </div>
        <br />
    </div>
}

@*<div>
    @Html.ActionLink("back to list", "index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

