@model HazmatTracking.Models.Hazmat

@{
   ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
   <hr />
   <dl class="dl-horizontal">
      <dt>
         @Html.DisplayNameFor(model => model.TransactionNum)
      </dt>

      <dd>
         @Html.DisplayFor(model => model.TransactionNum)
      </dd>

      <dt>
         @Html.DisplayNameFor(model => model.Date)
      </dt>

      <dd>
         @Html.DisplayFor(model => model.Date)
      </dd>

      <dt>
         @Html.DisplayNameFor(model => model.Initials)
      </dt>

      <dd>
         @Html.DisplayFor(model => model.Initials)
      </dd>

      <dt>
         @Html.DisplayNameFor(model => model.Material)
      </dt>

      <dd>
         @Html.DisplayFor(model => model.Material)
      </dd>

      <dt>
         @Html.DisplayNameFor(model => model.New_Distilled)
      </dt>

      <dd>
         @Html.DisplayFor(model => model.New_Distilled)
      </dd>

      <dt>
         @Html.DisplayNameFor(model => model.Quantity)
      </dt>

      <dd>
         @Html.DisplayFor(model => model.Quantity)
      </dd>

      <dt>
         @Html.DisplayNameFor(model => model.Gallon_Pound)
      </dt>

      <dd>
         @Html.DisplayFor(model => model.Gallon_Pound)
      </dd>

      <dt>
         @Html.DisplayNameFor(model => model.Destination)
      </dt>

      <dd>
         @Html.DisplayFor(model => model.Destination)
      </dd>

      <dt>
         @Html.DisplayNameFor(model => model.RequestedBy)
      </dt>

      <dd>
         @Html.DisplayFor(model => model.RequestedBy)
      </dd>

      <dt>
         @Html.DisplayNameFor(model => model.RequiredFor)
      </dt>

      <dd>
         @Html.DisplayFor(model => model.RequiredFor)
      </dd>

      <dt>
         @Html.DisplayNameFor(model => model.Notes)
      </dt>

      <dd>
         @Html.DisplayFor(model => model.Notes)
      </dd>

   </dl>

   @using (Html.BeginForm())
   {
      @Html.AntiForgeryToken()

      <div class="row">
         <div class="col-md-offset-1 col-md-11">
            <input type="submit" value="Delete" class="btn btn-danger" id="Delete" />
            &nbsp;
            @Html.ActionLink("Back To List", "Index", null, new { @class = "btn btn-primary" })
         </div>
      </div>
   }
</div>